body{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #4a3427;
    /*Coloca imagem de fundo*/
    background-image: url("https://i.pinimg.com/1200x/ca/a7/b8/caa7b89d2beb7734299499b1dd73d9ea.jpg");
    font-size: 0.5rem;
    background-size: cover;
    /*remove a repetição da imagem*/
    background-repeat: no-repeat;
    /*Centraliza a imagem*/
    background-position: center;
    /*Ocupa 100% da visao*/
    height: 130vh;
    font-family:  Tahoma, serif;

}

footer, body {
    text-align: center;
}
main{
    max-width: 1280px;
    width: 800px;
    height: 700px;
    justify-items: center;
    padding: 20px;
    border: solid #bdaf9d 1px;
    border-radius: 15px;
    background-color: rgba(155, 119, 97, 0.7);
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    background: #645440;
    width: 110%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    white-space: nowrap;
    color: #fce0c3;

}
header h1{
    margin-left: 570px;
    font-size: 1rem;
}
header h2{
    margin-left: 600px;
    font-size: 1rem;
}
header h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

#ask{
    height: 20px;
    width: 20px;
    box-shadow: #645440 1px 1px;
    margin-right: 40px;

}
#ask:hover{
    cursor: pointer;
}

button{
    background-color: #7c552a;
    color: #ffffff;
    padding: 10px;
    border-radius: 1px;
    border-color: black;
    max-width: 200px;
    margin-bottom: 5px;
}

button:hover{
    background-color: #D2691E;
    cursor: pointer;
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

select{
    border-radius: 5px;
}
select:hover{
    cursor: pointer;
}
select:active{
    background-color: #D2691E;
}


img{
    margin: 10px;
    border-radius: 20px;
    width: 80%;
}


/* Telefone */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 130px; /* deixa espaço pro header fixo */
    padding: 20px;
}




.grid{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
div{
    font-size: 12px;
}


h1, h2{
    color: white;
}
main h1{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}
h2{
    font-size: 15px;
}

main a:hover{
    cursor: pointer;
}
main p{
    color: white;
    font-size: 15px;
}

.sidebar-container {
    width: 60px; /* largura mínima (oculto) */
    height: 100vh;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}

/* mouse passar em cima */
.sidebar-container:hover {
    width: 220px;
}

/* menu */
.sidebar-container a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.2s;
}

.sidebar-container a:hover {
    background-color: #575757;
}
.main {
    transition: margin-left 0.3s ease;
}
.sidebar-container:hover ~ .main {
    margin-left: 220px;
}